.root {
    -fx-font-family: "Segoe UI";
}

.users {
    -fx-padding: 10;
    -fx-background-color: #f2f2f2;
    -fx-pref-width: 200;
}

.text-area {
    -fx-font-size: 13px;
}

.button {
    -fx-background-color: #2a5298;
    -fx-text-fill: white;
}
